main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* width: 1300px; */
  /* flex-wrap: wrap; */
  max-width: 800px;
}

.categorias {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #EE8BF6;
  height: min-content;
}

.livros li{
  box-shadow: 0px 0px 10px black;
  text-align: center;
  /* flex-basis: 27%; */
  margin: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 160px;
}

.column {
  flex-basis: 100%;
  text-align: center;
  
}
.livros {
  display: flex;
  flex-wrap: wrap;
}

.livros > li {
  flex: 1 1 12em;
}