@charset "UTF-8";

a {
    color: black;
    text-decoration: none;
}

a.logo {
    flex: 1;
}

a.logo img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

header.cabecalho, a.logo, input#barra-de-pesquisa{
    display: flex;
    align-items: center;
}

header.cabecalho {
    background-color: #FFF500;
    width: 100%;
    height: 60px;
    position: relative;
    font-size: 1.5rem;
}

.cabecalho img {
    width: 40px;
    height: 40px;
}

.cabecalho a {
    padding-left: 8px;
}

table.rodape {
    width: 100%;
    background-color: black;
    color: white;
    justify-content: space-between;
}

table.rodape a {
    color: white;
}

.redes-sociais {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #FFF500;
}

input#barra-de-pesquisa {
    flex: 1;
    padding: 8px 20px;
    border-radius: 4px;
    border: 2px solid white;
    transition: 0.5s;
}

input#barra-de-pesquisa:focus {
    border: 2px solid #555;
}

nav.menu {
    height: 50px;
    flex: 1;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template:
                "user message cart"
                "user account cart";
}

nav.menu a {
    margin-right: 5px;
    font-size: 1rem;
}

.redes-sociais img {
    padding: 8px;
}

.menu .user-image { grid-area: user; }
.menu section { grid-area: message; }
.menu .account-link { grid-area: account; }
.menu .cart { grid-area: cart; }
